
.margin-bottom {
	marign-left:auto;
	margin-right:0;
}

.margin-grid { 
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.margin-list {
	margin-left:auto;
    margin-right:auto;
}
.job-table {
	width:90%;
	margin-left:auto;
    margin-right:auto;
}

.emp-table {
	width:80%;
	margin-left:auto;
    margin-right:auto;
}
#addId {
	margin-left:90%;
	width:300px;
}
#filterWidth {
	width:200%;
}